<section id="middle">
    <div id="content" class="dashboard padding-20">
        <div class="col-md-12">
            <div id="panel-misc-portlet-r1" class="panel panel-default">
                <div class="panel-heading">
                    <span class="elipsis"><!-- panel title -->
                        <strong>Catalogo de Ciudades</strong>
                    </span>
                    <!-- right options -->
                    <ul class="options pull-right list-inline">
                        <li><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="" data-placement="bottom"
                               data-original-title="Colapse"></a></li>
                    </ul>
                    <!-- /right options -->
                </div>
                <!-- panel content -->
                <div class="panel-body" style="display: block;">
                    <div class="row">
                        <div class="col-md-6">
                        selecciona el estado
                        <select class="form-control select2" ng-model="data.estadoSeleccionado" ng-change="cambiarEstado()">
                            <option value="">--- Selecciona tu estado ---</option>
                           <option ng-repeat="option in estadosApi" value="{{option.id}}">{{option.nombre}}</option>
                        </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <br>
                            <div class="table-responsive">
                                <table class="table table-striped nomargin">
                                    <thead>
                                    <tr>
                                        <th>Region</th>
                                        <th>Status</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat=" region in regiones">
                                        <td>{{region.nombre}}</td>
                                        <td>
                                            <label class="switch switch-success">
                                                <input type="checkbox" ng-checked="region.status" ng-click="activarRegion(region.id,data.estadoSeleccionado,region.status)">
                                                <span class="switch-label" data-on="YES" data-off="NO"></span>
                                            </label>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /panel content -->
            </div>
        </div>
    </div>
</section>
